---
layout: default
title: 404
---
<div class="alert">
<strong>小黑屋！</strong>您可以看看下面的文章列表
</div>
<div class="postsList wrapper">
  {% capture post_year1 %}{{ 'now' | date: '%Y' }}{% endcapture %}
<h2>{{ post_year1 }}</h2>
<ul>
{% for post in site.posts %}
{% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
{% if post_year1 != post_year2 %}
{% assign post_year1 = post_year2 %}
</ul>
<h2>{{ post_year1 }}</h2>
<ul>
{% endif %}
<li><span>{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>