<div id="posts">
<div class="post">
<h1><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h1>
<p class="meta">{{ page.date | date:"%b %d, %Y" }}</p>
{{ content }}
<div class="postFoot">
<div class="tags">Tags:
{% for tag in page.tags %}
    <a class="label" href="/tag/#{{ tag }}">{{ tag }}</a>
{% endfor %}</div>
<!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread"></div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{site:duoshuoShortname}}"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- Duoshuo Comment END -->
</div>

<ul class="pager">
    {% if page.previous %}
    <li class="previous">
    <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    </li>
    {% endif %} <small>按 j 或 k 翻页</small>
    {% if page.next %} 
    <li class="next">
    <a href="{{ page.next.url }}" class="pull-right">{{ page.next.title }} &rarr;</a>
    </li>
    {% endif %}   
</ul>
</div>
</div>