<div class="wrapper">
<ul class="postsList">
{% for post in site.posts limit: 15%}
{% if forloop.index == 1 %}
<article>
<h1><a href="{{ post.url }}">{{ post.title }}</a> <small class="pull-right">{{ post.date | date:"%b %d, %Y" }}</small></h1>
{{ post.content | truncatewords:120}}
</article>

{% endif %}
{% if forloop.index > 1 %}
<li><span>{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
<li><a class="btn"  href="/archive/">存档</a> →</li>
</ul>
</div>