<a href="{{ site.url }}{{ page.url }}" align="center"><h1>{{ page.title }}</h1></a>
<div class="date">
{{ page.date | date:"%Y-%m-%d" }}
</div>
{{ content }}

{% for tag in page.tags %}
    <a class="label" href="/tag/#{{ tag }}">{{ tag }}</a>
{% endfor %}
<hr>
<ul class="pager">
    {% if page.previous %}
    <li class="previous">
    <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    </li>
    {% endif %}
    {% if page.next %} 
    <li class="next">
    <a href="{{ page.next.url }}" class="pull-right">{{ page.next.title }} &rarr;</a>
    </li>
    {% endif %}   
</ul>