<h2>{{ page.title }} <small>{{ page.date | date:"%Y-%m-%d" }}</small></h2>
{{ content }}

{% for tag in page.tags %}
    <a class="label" href="/tag/#{{ tag }}">{{ tag }}</a>
{% endfor %}
<hr>
<ul class="pager">
    {% if page.previous %}
    <li class="previous">
    <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    </li>
    {% endif %}
    {% if page.next %} 
    <li class="next">
    <a href="{{ page.next.url }}" class="pull-right">{{ page.next.title }} &rarr;</a>
    </li>
    {% endif %}   
</ul>
<hr>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{site.disqusShortname}}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>